@import "tailwindcss";

/* conecta las fuentes de next/font con las utilidades font-sans / font-mono */
@theme inline {
    --font-sans: var(--font-inter);
    --font-mono: var(--font-jetbrains-mono);
}

html {
    scroll-behavior: smooth;
}
